/*  your css code here. If applicable */
*{
padding:0;
margin:0;
box-sizing:border-box;
}

.hero{
display:flex;
justify-content:center;
align-items:center;
height:100vh;}
img{
width:400px;
height:200px;
object-fit:cover;}
.hero-text{
	padding:20px;
	text-align:center;
	
}
button{
	width:100px;
	padding:5px;
	background-color:red;
	border-radius:10px;
	color:white;
}